{
        "extends": "eslint:recommended",
        "env":{
          "node":true,
          "es6":true
        },
        "rules": {
            "semi": ["error", "always"],
//            "quotes": [
//              "error",
//              "double"
//            ],
            "no-console":"off",
            "no-unused-vars":"off",
            "no-unreachable":"off",
            "no-redeclare":"warn",
          "react/jsx-uses-react": "off",
          "react/jsx-uses-vars": "off",
//          "indent": 2,
          "linebreak-style": [
            "error",
            "unix"
          ]
        },
      	"parserOptions": {
          "ecmaVersion": 6,
          "sourceType": "module",
          "ecmaFeatures": {
            "modules": true,
            "experimentalObjectRestSpread": true,
            "jsx": true
          }
        },
        "globals":{
        "document": true,
        "$": true
    },
//    "plugins": [
//        "react"
//    ],
    "settings": {
        "react": {
            "createClass": "createClass",
            "pragma": "React"
        }
    }
}
